stages:
  - build
  - push
  - deploy

stagebuild:
  stage: build
  image: cr.yandex/yc/metadata-token-docker-helper:0.2
  services:
    - docker:19.03.1-dind
  script:
    - docker build . -t cr.yandex/$yandex_container_registry_id/myapp:gitlab-$CI_COMMIT_SHORT_SHA

prodbuild:
  stage: build
  image: cr.yandex/yc/metadata-token-docker-helper:0.2
  services:
    - docker:19.03.1-dind
  script:
    - docker build . -t cr.yandex/$yandex_container_registry_id/myapp:$CI_COMMIT_TAG
  only:
    - tags    

stagepush:
  stage: push
  image: cr.yandex/yc/metadata-token-docker-helper:0.2
  services:
    - docker:19.03.1-dind
  script:
    - docker push cr.yandex/$yandex_container_registry_id/myapp:gitlab-$CI_COMMIT_SHORT_SHA

prodpush:
  stage: push
  image: cr.yandex/yc/metadata-token-docker-helper:0.2
  services:
    - docker:19.03.1-dind
  script:
    - docker push cr.yandex/$yandex_container_registry_id/myapp:$CI_COMMIT_TAG
  only:
    - tags    

stagedeploy:
  stage: deploy
  script:
    - sed -i "s/__VERSION__/gitlab-$CI_COMMIT_SHORT_SHA/" deployment-stage.yaml
    - kubectl apply -f deployment-stage.yaml
    - kubectl apply -f service-stage.yaml
    - kubectl apply -f ingress-myapp-stage.yaml

proddeploy:
  stage: deploy
  script:
    - sed -i "s/__VERSION__/$CI_COMMIT_TAG/" deployment-prod.yaml
    - kubectl apply -f deployment-prod.yaml
    - kubectl apply -f service-prod.yaml
    - kubectl apply -f ingress-myapp-prod.yaml    
  only:
    - tags    
