apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: myapp
  namespace: $namespace
spec:
  ingressClassName: nginx
  rules:
    - host: $kindapp.sarajkins.space
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: myapp
                port:
                  number: 80
            path: /